@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");
:root {
  --color1: #4a72ff;
  --dark-light: rgba(12, 27, 77, 0.6);
  --dark: #0c1b4d;
}
*,
body {
  font-family: "Rubik", sans-serif;
}

.navbar-sc {
  backdrop-filter: blur(3.1px);
  z-index: 50;
  background: rgba(255, 255, 255, 0.459);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.123);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.max-w-xs {
  max-width: 420px;
}
.max-w-sm {
  max-width: 510px;
}
.l-space-1 {
  letter-spacing: 1px;
}
.btn-flat {
  background: #0c1b4d;
  color: #fff;
}
.bg-blue {
  background-color: var(--color1);
}
.text-blue {
  color: var(--color1);
}
.text-dark-light {
  color: var(--Dark-Light);
}
.text-darker {
  color: var(--dark);
}
.bg-darker {
  background-color: var(--dark);
}
.place-center {
  place-items: center;
}
.min-h-50 {
  height: 100%;
  min-height: 500px;
}

.blur-register {
  background: linear-gradient(
    225deg,
    rgba(178, 247, 99, 0.1) 17%,
    rgba(38, 171, 63, 0.1) 74%
  );
  padding: 2rem 3rem;
  border-radius: 18px;
  box-shadow: inset 0px 5px 5px 0px rgba(255, 255, 255, 0.1),
    inset 0px -5px 5px 0px rgba(38, 171, 63, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.bg-register {
  padding: 10px;
  height: 575.5px;
  background: linear-gradient(155deg, rgb(12, 27, 77), #be185d);
}

.device {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
  max-width: 241.693px;
  height: 488.396px;
  transform: rotate(15.871deg);
  border-radius: 20px;
  background: #fff;
  z-index: -1000;
}

.navbar {
  z-index: 900;
}
.shapes-bg {
  top: 0;
  right: 0;
  width: 358px;
  height: 358px;
  border-radius: 358px;
  background: linear-gradient(180deg, #e3eaff 0%, rgba(227, 234, 255, 0) 100%);
}
.hover-card-home {
  transition: 0.4s ease;
  cursor: pointer;
}

.notes-left {
  width: 100%;
  margin-top: 20px;
  color: var(--color1);
  max-width: 200px;
  padding: 12px;
  border-radius: 14px;
  background-color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.459);
}
.notes-right {
  width: 100%;
  max-width: 200px;

  color: #fff;
  padding: 12px;
  border-radius: 14px;
  background-color: var(--color1);
}

.hover-card-home:hover {
  transform: scale(1.1);
}

@keyframes atas-bawah {
  0% {
    transform: translateY(0) rotate(15.871deg);
  }
  50% {
    transform: translateY(90px) rotate(-15.871deg);
  }
  100% {
    transform: translateY(0) rotate(15.871deg);
  }
}

@keyframes animasi {
  0% {
    transform: translateY(0);
    transform: rotate(0);
  }

  50% {
    transform: translateY(70px);
    transform: rotate(15.871deg);
  }
  100% {
    transform: rotate(-15.871deg);
    transform: translateY(0);
  }
}

@media screen and (min-width: 1200px) {
  .notes-left {
    position: absolute;
    top: 50px;
    left: -130px;
    animation: atas-bawah 7s infinite ease-in-out;
    max-width: 390px;
  }
  .notes-right {
    max-width: 390px;

    position: absolute;
    bottom: 150px;
    right: -150px;
    animation: animasi 5s infinite ease-in-out;
  }
  .device {
    display: block;
  }
}
